@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Supermercado+One&display=swap");

body {
    margin: 0;
    background-color: rgb(32,32,40);
}

.main-nav {
    display:        flex;
    flex-direction: row;
    align-items:    baseline;

    padding:      10px;
    padding-left: 50px;

    background: linear-gradient(rgb(32,32,40), rgb(0,0,8));
    border-bottom: 1px rgb(64,64,72) solid;
}

h1 {
    margin:       0;
    margin-right: 50px;
}

.site-title {
    font-family: "Supermercado One";
    font-size:   20px;
    font-weight: bold;

    background: linear-gradient(135deg, rgb(192,64,64), rgb(64,64,192));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-title:hover {
    background: linear-gradient(135deg, rgb(192,192,64), rgb(64,192,192));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-nav-link {
    margin-right: 20px;

    font-family:     Nunito;
    font-size:       14px;
    color:           rgb(128,128,136);
    text-decoration: none;

    transition: transform .5s;
}

.main-nav-link:hover {
    color: white;
    transform: translateY(-3px);
}

.content {
    width:        1000px;
    margin:       0;
    margin-left:  auto;
    margin-right: auto;
    padding:      25px;
}

p {
    margin:  0;
    padding: 0;

    font-family: Nunito;
    font-size:   12px;
    color:       rgb(224,224,224);
}

button {
    margin-top: 5px;
    padding:    2px;
    width:    100px;

    font-family: Nunito;
    font-size:   12px;

    background: linear-gradient(rgb(192,192,192), rgb(255,255,255));
    border: 2px rgb(192,192,192) solid;
}

button:hover {
    background: linear-gradient(rgb(192,224,255), rgb(255,255,255));
    border: 2px rgb(128,192,255) solid;

    cursor: pointer;
}

.sub-content {
    margin-top:     10px;
    margin-left:    20px;
    margin-right:   20px;
    padding:        25px;
    padding-top:    15px;
    padding-bottom: 20px;

    background: linear-gradient(rgb(32,32,40), rgb(64,64,72));
    border: 1px rgb(64,64,72) solid;
}

h2 {
    margin:        0;
    margin-bottom: 5px;

    font-family: Nunito;
    font-size:   14px;
    color:       rgb(224,224,224);

    border-bottom: 1px rgb(48,48,56) solid;
}

p.label {
    font-size: 11px;
    color:     rgb(160,160,168);
}

input {
    display: block;

    padding:       2px;
    padding-left: 10px;
    width:       300px;

    font-family: Nunito;
    font-size:   12px;
    color:       white;

    background: linear-gradient(rgb(64,64,72), rgb(96,96,104));
    border: 1px rgb(128,128,136) solid;
}
