@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Supermercado+One&display=swap");

body {
    margin: 0;
    background-color: rgb(32,32,32);
}

.main-nav {
    display:        flex;
    flex-direction: row;
    align-items:    baseline;

    padding:      10px;
    padding-left: 50px;

    background: linear-gradient(rgb(192,192,192), rgb(255,255,255));
}

h1 {
    margin:       0;
    margin-right: 50px;
}

.site-title {
    font-family: "Supermercado One";
    font-size:   20px;
    font-weight: bold;
    color:       rgb(64,64,64);
}

.main-nav-link {
    margin-right: 20px;

    font-family:     Nunito;
    font-size:       14px;
    color:           black;
    text-decoration: none;
}

.main-nav-link:hover {
    color: rgb(0,96,160);
    text-decoration: underline;
}

.content {
    width:        800px;
    margin:       0;
    margin-left:  auto;
    margin-right: auto;

    padding:        5px;
    padding-left:  30px;
    padding-right: 30px;

    background-color: rgb(48,48,48);
}

p {
    font-family: Nunito;
    font-size:   12px;
    color:       rgb(224,224,224);
}
